.table_for_print{
    border-collapse: collapse;	
}
.table_for_print th, .table_for_print td{
	border: 2px solid black;
}
.table_for_print td{
	//padding:9px;
	//padding-bottom:0px;
}
.date{
	width:100px;
	text-align:center;
	background-color:#eeeeee;
}
.number{
	font-size:30px;
}
.day{
	font-size:18px;
}
.year{
	font-size:12px;
	margin-top:3px;
	margin-bottom:9px;
}

.events{
	width:700px;
	text-align:left;
	vertical-align:top;
	padding-top:10px;
	padding-bottom:10px;
}

.normal_events{
	border-collapse: collapse;
	 border:none;
	 width:100%;
}

.normal_events td,.normal_events tr{
	border:none;
}

td.time_event{
	width:150px;
	vertical-align:top;
	padding:5px;
	padding-left:15px;
	
}
.event{
	padding:5px;
	padding-left:15px;
}
.description_event{
	font-weight:normal;
	font-style:italic;
}

.event{
	overflow:hidden;
	border-bottom:#000000 solid 2px;
}
tr.event{
	border-bottom:#000000 solid 2px;
}
.last,tr.last{
	border-bottom:none;
}
.daily_event_name{
	font-weight:bold;
	float:left;
	// display: block;
    //white-space:nowrap;
    font-size:15px;
    width:150px;
    margin-right:10px;
}
.name_event{
	font-weight:bold;
}
.daily_event_description{
	font-style:italic;
	float:left;
}